{{ define "main" }}
<article class="cf ph3 ph5-l pv3 pv4-l f4 center lh-copy nested-links nested-copy-line-height main-content">
  {{ .Content }}

  <h2>Latest News</h2>

  {{ range $index, $page := (where .Site.RegularPages "Section" "news").ByDate.Reverse | first 7 }}
  <div class="news-item card fade-in">
    {{ if $page.Params.image }}
    <div class="news-card-content">
      <div class="news-card-image">
        {{ if gt $index 0 }}
        <img src="{{ $page.Params.image }}" alt="{{ $page.Params.alt }}" loading="lazy" />
        {{ else }}
        <img src="{{ $page.Params.image }}" alt="{{ $page.Params.alt }}" />
        {{ end }}
      </div>
      <div class="news-card-text">
        <p class="news-date">{{ $page.Date.Format "January 2, 2006" }}</p>
        <div class="news-description">
          {{ $page.Content }}
        </div>
      </div>
    </div>
    {{ else }}
    <div class="news-card-no-image">
      <p class="news-date">{{ $page.Date.Format "January 2, 2006" }}</p>
      <div class="news-description">
        {{ if $page.Params.first_sentence }} {{ $page.Params.first_sentence | safeHTML }} {{ end }} {{ if $page.Params.remaining_description }} {{
        $page.Params.remaining_description | safeHTML }} {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
  {{ end }}
</article>
{{ end }}
