{{ define "main" }}
<article class="cf f4 center lh-copy nested-links nested-copy-line-height main-content">
  <h1>{{ .Title }}</h1>

  {{ $allNews := (where .Site.RegularPages "Section" "news").ByDate.Reverse }}
  {{ $oldNews := after 7 $allNews }}

  {{ range $index, $page := $oldNews }}
  {{- $description := "" -}}
  {{- if $page.Params.first_sentence -}}
    {{- $description = $page.Params.first_sentence -}}
    {{- if $page.Params.remaining_description -}}
      {{- $description = printf "%s %s" $page.Params.first_sentence $page.Params.remaining_description -}}
    {{- end -}}
  {{- end -}}

  <div class="news-item card fade-in">
    {{ if $page.Params.image }}
    <div class="news-card-content">
      <div class="news-card-image">
        <img src="{{ $page.Params.image }}" alt="{{ $page.Params.alt }}" loading="lazy" />
      </div>
      <div class="news-card-text">
        <p class="news-date">{{ $page.Date.Format "January 2, 2006" }}</p>
        <div class="news-description">{{ $description | safeHTML }}</div>
      </div>
    </div>
    {{ else }}
    <div class="news-card-no-image">
      <p class="news-date">{{ $page.Date.Format "January 2, 2006" }}</p>
      <div class="news-description">{{ $description | safeHTML }}</div>
    </div>
    {{ end }}
  </div>
  {{ end }}
</article>
{{ end }}
